<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Inserisci Scrum Team</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Inserisci Scrum Team</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form name="formCreateScrumTeam" role="form">
                                <div class="form-group" ng-class="{'has-success': ctrl.currentScrumTeam.name}">
                                    <label>Scrum Team</label>
                                    <input class="form-control" placeholder="Inserisci nome dello Scrum Team"
                                           ng-model="ctrl.currentScrumTeam.name" required>
                                </div>
                            </form>
                       <!--     <button type="button" class="btn btn-primary"
                                    ng-disabled="!(!formCreateScrumTeam.$invalid && hasPermission('scrum_team_create'))"
                                    ng-click="ctrl.insertScrumTeam()">Inserisci
                                Scrum Team
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="ctrl.resetFields()">Reset
                            </button>
                        -->
                            <div ng-if="isDebug">{{ctrl.currentScrumTeam}}</div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">Scrum Master</div>
                <div class="panel-body">
                    <form name="formScrumMaster">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" placeholder="ID"
                                       ng-model="ctrl.currentScrumTeam.scrumMaster.id" readonly required>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" ng-disabled="" placeholder="Nome"
                                       ng-model="ctrl.currentScrumTeam.scrumMaster.firstName" readonly required>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" placeholder="Cognome"
                                       ng-model="ctrl.currentScrumTeam.scrumMaster.lastName" readonly required>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-3">
                        <div class="form-group" align="right">
                            <button ng-show="ctrl.currentScrumTeam.scrumMaster" class="btn btn-danger"
                                    ng-click="ctrl.unsetScrumMaster()">
                                Rimuovi Scrum Master
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">Product Owner</div>
                <div class="panel-body">
                    <form name="formProductOwner">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" placeholder="ID"
                                       ng-model="ctrl.currentScrumTeam.productOwner.id" readonly required>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" ng-disabled="" placeholder="Nome"
                                       ng-model="ctrl.currentScrumTeam.productOwner.firstName" readonly required>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input class="form-control" placeholder="Cognome"
                                       ng-model="ctrl.currentScrumTeam.productOwner.lastName" readonly required>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-3">
                        <div class="form-group" align="right">
                            <button ng-show="ctrl.currentScrumTeam.productOwner" class="btn btn-danger"
                                    ng-click="ctrl.unsetProductOwner()">
                                Rimuovi Product Owner
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Assegnazione Scrum Team</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Elenco degli assistenti</h3>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions"
                                       dt-column-defs="dtColumnDefsLeft">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1">ID</th>
                                        <th class="col-md-2">Username</th>
                                        <th class="col-md-3">Nome</th>
                                        <th class="col-md-3">Cognome</th>
                                        <th class="col-md-3">Scrum Master</th>
                                        <th class="col-md-3">Product Owner</th>
                                        <th class="col-md-3">Team Member</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="t in ctrl.assistantList">
                                        <td>{{t.id}}</td>
                                        <td>{{t.username}}</td>
                                        <td>{{t.firstName}}</td>n
                                        <td>{{t.lastName}}</td>
                                        <td>
                                            <button ng-show="!ctrl.currentScrumTeam.scrumMaster" class="btn btn-warning"
                                                    ng-click="ctrl.setScrumMaster(t)" title="Scrum Master"><i
                                                    class="fa fa-user"></i></button>
                                        </td>
                                        <td>
                                            <button ng-show="!ctrl.currentScrumTeam.productOwner" class="btn btn-warning"
                                                    ng-click="ctrl.setProductOwner(t)" title="Product Owner"><i
                                                    class="fa fa-user"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" ng-click="ctrl.setTeamMember(t)"
                                                    title="Membro"><i class="fa fa-users"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <h3>Membri dello scrum team scelti</h3>
                        </div>
                    </div>
                    <div class="row">

                        <div id="membro-scelto" class="col-lg-12">
                            <div class="table-responsive">
                                <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions"
                                       dt-column-defs="dtColumnDefsRight">
                                    <thead>
                                    <tr>
                                        <th class="col-md-1">ID</th>
                                        <th class="col-md-5">Username</th>
                                        <th class="col-md-4">User Type</th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="t in ctrl.currentScrumTeam.teamMembers">
                                        <td>{{t.id}}</td>
                                        <td>{{t.username}}</td>
                                        <td>{{t.roles[0].name}}</td>
                                        <td>
                                            <button class="btn btn-danger" ng-click="ctrl.unsetTeamMember(t)"><i
                                                    class="fa fa-arrow-left"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--{{ctrl.memberList}}-->
                <!--{{ctrl.assistantList}}-->

                <div ng-if="isDebug"> {{ctrl.currentScrumTeam}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">


            <!-- DEVO AGGIUNGERE QUI CONTROLLO SE SESSIONE È SCADUTA!!!!!!!!!!!!!-->

            <button class="btn btn-primary"
                    ng-disabled="!(!formScrumMaster.$invalid && !formProductOwner.$invalid && hasPermission('scrum_team_create') && ctrl.currentScrumTeam.teamMembers.length)"
                    ng-click="ctrl.insertScrumTeam()">Costruisci Scrum Team
            </button>
            <button class="btn btn-danger" ng-click="ctrl.resetFields()">Reset campi</button>
        </div>
    </div>
</div>