
<div class="modal-content" style="align-self: center; min-width: 610px">

    <div>
        <h3 style="text-align: center; color: cornflowerblue">FAQ</h3>
    </div>

    <div style="margin: 10px">
        <div style="text-align: justify">
            <p style="font-weight: bold">&#x27A4; What is the "®Ticketing System"?</p>
            <p>The "®Ticketing System" is a system designed to support companies wishing to offer their customers technical and commercial support regarding the products or services (in general "targets") offered, by opening tickets which indicate the problem encountered using the targets.</p>

            <p style="font-weight: bold">&#x27A4; What can the customer do?</p>
            <p>A customer can open a ticket specifying a series of information including the target of competence and the problem encountered.</p>

            <p style="font-weight: bold">&#x27A4; Who is the system for?</p>
            <p>The system is designed for any type of organization that makes products or services for commercial use, which wants to offer an online support service to its customers.</p>

            <p style="font-weight: bold">&#x27A4; Who solves the tickets opened by the customers?</p>
            <p>The company that uses the ticketing system makes available to users one or more teams of people, with the task of resolving opened tickets.</p>

            <p style="font-weight: bold">&#x27A4; What can the company do?</p>
            <p>A company that uses the system can define different roles of competence, which will have the task of managing the different phases of assignment and resolution of tickets opened by customers.</p>

            <p style="font-weight: bold">&#x27A4; What are the main roles in the system?</p>
            <p>The main roles that are present in the system are: Team Coordinator, Team Leader, Team Member and Admin.</p>

        </div>

        <hr>

        <div align="center" style="margin-bottom: 10px; margin-top: 10px">
            <button class="btn btn-primary" ng-click="cancel()" style="min-width: 50px">OK</button>
        </div>
    </div>
</div>