<div>
    <div class="row">
        <div class="col-lg-12" align="center">
            <h1 ng-show="ctrl.type == 'prodotto'" class="page-header">Chat prodotto {{ctrl.id}}</h1>
            <h1 ng-show="ctrl.type == 'leader-member'" class="page-header">Chat leader-member ticket {{ctrl.id}}</h1>
            <h1 ng-show="ctrl.type == 'team'" class="page-header">Chat team {{ctrl.id}}</h1>
        </div>
        <!-- /.col-lg-12 -->

    </div>


    <ul class="table_ul">
        <table ng-repeat="message in ctrl.messages" width="100%" my-post-repeat-directive>
            <tr>
                <td>
                    <table ng-if="message.username == ctrl.userInfo.username" width="100%">
                        <tr>
                            <td ng-if="message.type == 'MESSAGE'" class="messaggio messaggio_out">
                                <div class="colonna messaggio_info">{{message.completeName}} | {{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr class="out"></div>
                                <div class="colonna">{{ message.text }}</div>
                            </td>
                            <td ng-if="message.type == 'SNIPPET'" class="messaggio messaggio_out">
                                <div class="colonna messaggio_info">{{message.completeName}} | {{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr class="out"></div>
                                <button ng-if="message.type == 'SNIPPET'" type="submit" class="btn_snippet btn_out colonna" ng-click="showDialogSnippetDetail(message.text)">Snippet</button>
                            </td>
                            <td ng-if="message.type == 'FILE'" class="messaggio messaggio_out">
                                <div class="colonna messaggio_info">{{message.completeName}} | {{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr class="out"></div>
                                <button ng-if="message.type == 'FILE'" type="submit" class="btn_snippet btn_out colonna" ng-click="ctrl.getFile(ctrl.id, message.text)">{{ message.text | filename}}</button>
                            </td>
                        </tr>
                        <tr><td height="20px"></td></tr>
                    </table>

                    <table ng-if="message.username != ctrl.userInfo.username" width="100%">

                        <!-- se messaggio di notifica , mostro bottone dettaglio ticket-->
                        <tr>
                            <td ng-if="message.type == 'MESSAGE' && message.username != 'System'" class="messaggio messaggio_in">
                                <div class="colonna messaggio_info">{{message.completeName}} | {{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr></div>
                                <div class="colonna">{{ message.text }}</div>
                            </td>

                            <td ng-if="message.type == 'MESSAGE' && message.username == 'System'" class="messaggio messaggio_in">
                                <div class="colonna messaggio_info">{{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr></div>
                                <div class="colonna">{{message.text}}</div>
                                <button type="submit" class="btn_snippet colonna" ng-click="ctrl.showTicketDetail(message.text)">Dettagli</button>
                            </td>

                            <td ng-if="message.type == 'SNIPPET'" class="messaggio messaggio_in">
                                <div ng-if="message.username != ''" class="colonna messaggio_info">{{message.completeName}} | {{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr></div>
                                <div ng-if="message.username == ''" class="colonna messaggio_info">{{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr></div>
                                <button ng-if="message.type == 'SNIPPET'" type="submit" class="btn_snippet colonna" ng-click="showDialogSnippetDetail(message.text)">Snippet</button>
                            </td>
                            <td ng-if="message.type == 'FILE'" class="messaggio messaggio_in">
                                <div ng-if="message.username != ''" class="colonna messaggio_info">{{message.completeName}} | {{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr></div>
                                <div ng-if="message.username == ''" class="colonna">{{ message.timestamp | date:"MM/dd/yyyy 'ore' h:mma" }}<hr></div>
                                <button ng-if="message.type == 'FILE'" type="submit" class="btn_snippet colonna" ng-click="ctrl.getFile(ctrl.id, message.text)">{{ message.text | filename}}</button>
                            </td>
                        </tr>
                        <tr><td height="20px"></td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </ul>

    <div class="col-lg-12 message-box" align="center" ng-controller="ChatCtrl">
        <form>
            <textarea id="textarea1" ng-model="ctrl.messageContent" type="text" class="textarea_chat form-control" placeholder="Scrivi un messaggio..." autofocus></textarea>

            <button type="submit" class="btn btn-primary btn_submit_chat" ng-click="ctrl.sendMessage()">Invia</button>

            <br>
            <button ng-click="showDialogInsertSnippet()" class="btn btn-primary btn-chat">Invia Snippet</button>

            <input id="file_button" type="file" custom-on-change="selectedFile" class="btn_file_chat" style="display: inline;"/>
            <label for="file_button" class="btn btn-primary btn-chat">Carica un allegato</label>

        </form>
    </div>
</div>

<div id="scrollToBottom"></div>
