<md-dialog aria-label="Details ticket" class="viewDialog">



    <table class="viewTable">

        <tr>
            <td height="50%" colspan="2">
                <textarea class="snippetTextArea" id="snippetCode"></textarea>

            </td>
        </tr>

        <tr>
            <td width="50%">
                <button id="cancel" type="submit" class="btn btn-primary snippetButton" ng-click="cancelSnippet()">Annulla</button>
            </td>

            <td width="50%">
                <button type="submit" class="btn btn-primary snippetButton" ng-click="sendSnippet()">Invia snippet</button>
            </td>
        </tr>

    </table>



</md-dialog>