
<div>
    <h3 style="text-align: center; color: cornflowerblue">University Project</h3>
</div>

<body>
    <div align="center">
        <div>
            <h4>University:</h4>
            <pre>
University of Rome "Tor Vergata"</pre>
        </div>
        <div>
            <h4>Course:</h4>
            <pre>
"Ingegneria dei Sistemi Software e dei Servizi di Rete"</pre>
        </div>

        <div>
            <h4>Teacher:</h4>
            <pre>
Prof. Ing. Giovanni Cantone</pre>
        </div>

        <div>
            <h4>Assistants:</h4>
            <pre>
Manuel Mastrofini
Simone Corrieri</pre>
        </div>

        <div>
            <h4>Team Members:</h4>
            <pre>
Simone Minasola
Angela De Lorenzo
Alessio Nazio
Alessio Di Luzio
Emiliano Fiorentini
Stefano Iafrate
Andrea Pera</pre>
        </div>

        <div style="margin-bottom: 10px; margin-top: 10px">
            <button class="btn btn-primary" ng-click="cancel()" style="min-width: 50px">OK</button>
        </div>
    </div>

</body>