<!-- Titolo -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Gestione Backlog {{backlogItem.product.name}}</h1>
    </div>
</div>

<!-- Pannello selezione prodotto software-->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-yellow">
            <div class="panel-heading">Seleziona il prodotto di cui visualizzare il Backlog</div>
            <div class="panel-body">
                <label>Prodotto:</label>
                <select class="form-control"
                        ng-options="product.name for product in productsOfScrumMember"
                        ng-model="backlogItem.product"
                        ng-required="true"
                        ng-change="populateBacklog()">
                </select>
            </div>
        </div>
    </div>
</div>

<!-- Pannello Sprint Backlog OLD -->
<!--<div class="row">-->
<!--    <div class="col-lg-12">-->
<!--        <div class="panel panel-primary">-->
<!--            <div class="panel-heading">Sprint Backlog</div>-->
<!--            <div class="panel-body">-->
<!--                <div class="table-responsive"-->
<!--                     ng-show="isActiveSprint">-->
<!--                    <table datatable="ng"-->
<!--                           class="table table-striped table-bordered"-->
<!--                           id="sprintBacklogItemListTable"-->
<!--                           dt-options="dtOptions">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th class="col-md-1">ID</th>-->
<!--                            <th class="col-md-1">Titolo</th>-->
<!--                            <th class="col-md-1">Descrizione</th>-->
<!--                            <th class="col-md-1">Priorità</th>-->
<!--                            <th class="col-md-1">Stima dell'effort</th>-->
<!--                            <th class="col-md-1">Stato</th>-->
<!--                            <th class="col-md-1"></th>-->
<!--                        </tr>-->
<!--                        </thead>-->

<!--                        <tbody>-->
<!--                        <tr ng-repeat= "item  in sprintBacklogItems">-->
<!--                            <td>{{item.id}}</td>-->
<!--                            <td>{{item.title | date}}</td>-->
<!--                            <td>{{item.description}}</td>-->
<!--                            <td>{{item.priority}}</td>-->
<!--                            <td>{{item.effortEstimation}}</td>-->
<!--                            <td>{{item.status}}</td>-->
<!--                            <td align="center">-->
<!--                                &lt;!&ndash; Bottone passaggio di stato all'indietro &ndash;&gt;-->
<!--                                <button ng-disabled="item.status == 'TODO'"-->
<!--                                        title="Ritorna nello stato precedente"-->
<!--                                        ng-click="changeStatusToSprintBacklogItem(item.id, 'backward')"-->
<!--                                        class="btn btn-primary">-->
<!--                                    <i class="fa fa-arrow-left"></i>-->
<!--                                </button>-->
<!--                                &lt;!&ndash; Bottone passaggio di stato item in avanti &ndash;&gt;-->
<!--                                <button ng-disabled="item.status == 'COMPLETED'"-->
<!--                                        title="Passa allo stato successivo"-->
<!--                                        ng-click="changeStatusToSprintBacklogItem(item.id, 'forward')"-->
<!--                                        class="btn btn-primary">-->
<!--                                    <i class="fa fa-arrow-right"></i>-->
<!--                                </button>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-------------------------------------------------------------------------------------------------------------------->
<!-- Pannello Sprint Backlog -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Sprint Backlog</div>
            <div class="panel-body"  >


<!--                <div class="example-container"-->
<!--                     ng-repeat="state in states">-->
<!--                    <h4>{{state}}</h4>-->
<!--                    <div-->
<!--                            cdkDropList-->
<!--                            #todoList="cdkDropList"-->
<!--                            [cdkDropListData]="todo"-->
<!--                            [cdkDropListConnectedTo]="[doneList]"-->
<!--                            class="example-list"-->
<!--                            (cdkDropListDropped)="drop($event)">-->
<!--                        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>-->
<!--                    </div>-->
<!--                </div>-->
<div style="overflow-x: scroll; white-space: nowrap" >
                <div style=" display: inline-table; width: 200px; "
                     class="col col-2 col-md-offset-1"
                     ng-repeat="state in states"
                     data-drop="true"
                     data-jqyoui-options jqyoui-droppable="{onDrop:'changeItemStateTo(state)'}"
                     ng-style="">
                    <br>
                    <label style="vertical-align: super; ">{{state.split('*')[1]}}</label>
                    <div  class="panel panel-primary"
                          ng-repeat="item in sprintBacklogItems"
                          ng-if="item.status === state"
                          data-drag="true"
                          data-jqyoui-options="{revert: 'invalid', refreshPosition: 'true'}"
                          jqyoui-draggable='{animate: true, onStart:"setItemToChange(item)"}'>
                        <div class="panel-heading" style="width: 200px" >
                            <button class="btn btn-xs btn-default" ng-click="execution[$index]=!execution[$index]" ng-hide="execution[$index]">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-xs btn-default" ng-click="execution[$index]=!execution[$index]" ng-hide="!execution[$index]">
                                <i class="fa fa-minus"></i>
                            </button>
                            <span class="badge pull-right">{{item.effortEstimation}}</span>
                            <div style="white-space: normal; word-wrap:break-word;">{{item.title}}</div>

                        </div>
                        <div class="panel-body" style="font-size: 11px; white-space: normal; word-wrap:break-word; width: 200px" ng-show="execution[$index]">
                            Titolo: {{item.title}}<br>
                            Descrizione: {{item.description}}<br>
                            Priorità: {{item.priority}}<br>
                        </div>
                    </div>
                </div>
</div>
<!--                <ul class="list-group-horizontal" ng-repeat="state in states">-->
<!--                    <li class="list-group">-->
<!--                        <li class="list-group-item">{{state}}</li>-->
<!--                        <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--                        <li class="list-group-item">Morbi leo risus</li>-->
<!--                        <li class="list-group-item">Porta ac consectetur ac</li>-->
<!--                        <li class="list-group-item">Vestibulum at eros</li>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <div style="float: left" ng-repeat="state in states">-->
<!--                    <ul class="list-group">-->
<!--                        <li class="list-group-item">{{state}}</li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
<!--    <div  class="panel panel-primary" ng-repeat="t in myTickets" ng-if="t.currentTicketStatus == state && t.target.name == selectedTarget.name" ng-controller="modalController"-->
<!--          data-drag="false" ng-model="t" data-jqyoui-options="{revert: 'invalid', refreshPosition: 'true'}"-->
<!--          jqyoui-draggable='{animate: true, onStart:"setTicketToChange({ticket: t})"}'>-->

<!--        <div class="panel-heading" ng-style="{ 'background-color' : ttlColor(t) }" >-->
<!--            <button class="btn btn-xs btn-default" ng-click="execution[$index]=!execution[$index]" ng-hide="execution[$index]">-->
<!--                <i class="fa fa-plus"></i>-->
<!--            </button>-->
<!--            <button class="btn btn-xs btn-default" ng-click="execution[$index]=!execution[$index]" ng-hide="!execution[$index]">-->
<!--                <i class="fa fa-minus"></i>-->
<!--            </button>-->
<!--            Ticket #{{t.id}}-->
<!--            <button title="Ticket information" ng-click="showInfoForm(t)" class="btn btn-xs btn-default" style="float: right;">-->
<!--                <i class="fa fa-info-circle icon-small"></i>-->
<!--            </button>-->
<!--            <button title="See ticket attachment " ng-if="t.attachedFile" ng-click="showImage(t)" class="btn btn-xs btn-default"-->
<!--                    style="float: right;">-->
<!--                <i class="fa fa-image"></i>-->
<!--            </button>-->
<!--            <button  title="Comment Ticket" ng-click="showMessageForm(t)" class="btn btn-xs btn-default"-->
<!--                     style="float: right;">-->
<!--                <i class="fa fa-comments"></i>-->
<!--            </button>-->
<!--            <button title="TTL information"  class="btn btn-xs btn-default" style="float: right;" ng-click="showTTLForm(t)">-->
<!--                <i class="fa fa-clock-o"></i>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="panel-body" style="font-size: 11px;" ng-show="execution[$index]">-->
<!--            &lt;!&ndash;ng-class="{'animationDisplay':visible[$index]}"&ndash;&gt;-->
<!--            Title: {{t.title}}<br>-->
<!--            Date: {{t.creationTimestamp}}<br>-->
<!--            Presumed Priority : {{t.customerPriority}}<br>-->
<!--            Priority: {{t.actualPriority || "To Assign"}}<br>-->
<!--            Presumed Category: {{t.presumedType}}<br>-->
<!--            Actual Category: {{t.actualType || "To Assign"}}<br>-->
<!--            Difficulty: {{t.difficulty || "To Assign"}}<br>-->
<!--        </div>-->
<!--    </div>-->
</div>
<br><br>
<!-------------------------------------------------------------------------------------------------------------------->


<!-- Pannello Product Backlog -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Product Backlog</div>
            <div class="panel-body">
                <div class="table-responsive"
                     ng-show="isSelectedProduct">
                    <table datatable="ng"
                           class="table table-striped table-bordered"
                           id="backlogItemListTable"
                           dt-options="dtOptions"
                           dt-column-defs="dtColumnDefs">
                        <thead>
                        <tr>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-1">Titolo</th>
                            <th class="col-md-1">Descrizione</th>
                            <th class="col-md-1">Priorità</th>
                            <th class="col-md-1">Stima dell'effort</th>
                            <th class="col-md-1"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat= "item  in backlogItems">
                            <td>{{item.id}}</td>
                            <td>{{item.title | date}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.priority}}</td>
                            <td>{{item.effortEstimation}}</td>
                            <td align="center">
                                <!-- Bottone aggiunta Item allo Sprint Backlog -->
                                <button ng-if="item.status != 'COMPLETED'"
                                     title="Inserisci nello Sprint Backlog"
                                     ng-click="openBacklogItemEditDialog(item)"
                                     class="btn btn-primary">
                                     <i class="fa fa-arrow-up"></i>
                                </button>
                                <!-- Bottone eliminazioen Item-->
                                <button title="Elimina item dal Product Backlog"
                                        ng-click="deleteBacklogItem(item.id)"
                                        class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bottone aggiunta Item al Backlog -->
<button type="button"
        class="btn btn-primary"
        ng-click="openBacklogItemCreationDialog()"
        ng-disabled= "!backlogItem.product">
        Aggiungi Item al Backlog
</button>
