<md-dialog aria-label="Inserimento Item nel Backlog" style="overflow-y: hidden">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: #457AB2">
            <h2>Burndown Chart</h2>
        </div>
    </md-toolbar>
    <br><br>
    <div class="container">
        <div align="center" style="width: 95%; height: 90%">
            <canvas class="chart chart-line"
                    chart-data="data"
                    chart-labels="labels"
                    chart-series="lineSeries"
                    chart-options="lineOptions"
                    chart-click="onClick">
            </canvas>
        </div>
    </div>
    <div class="container">
        <div class="modal-footer">
            <button type="button"
                    class="btn btn-danger"
                    ng-click="closeDialog()">
                Chiudi
            </button>
        </div>
    </div>
</md-dialog>