<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Elenco dei Prodotti Software non ancora assegnati</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Selezionare Prodotto Software</div>
                <div class="panel-body">
                    <div ng-controller="ProductSoftwareListCtrl"></div>
                    <div class="table-responsive">
                        <table id="datatable" datatable="ng" class="table table-striped table-bordered"
                               dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="col-md-0.5">ID</th>
                                <th class="col-md-1">Nome</th>
                                <th class="col-md-5">Descrizione</th>
                                <th class="col-md-0.5">Versione</th>
                                <th class="col-md-1">Target Type</th>
                                <th class="col-md-1">State</th>
                                <th class="col-md-1">State Machine</th>
                                <th class="col-md-1">Select Scrum Team</th>
                                <th class="col-md-1"></th>
                            </tr>
                            </thead>
                            <tbody>

                            <div class="radio">

                                <tr ng-repeat="p in ctrl.products" ng-if="p.scrumTeamId == -1">

                                    <td><input ng-model="result" type="radio" name="rdoResult" value=""
                                               ng-click="GetData(item.id); GetSelected(p.id)"></td>
                                    <td>{{p.id}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.description}}</td>
                                    <td>{{p.version}}</td>
                                    <td>{{p.targetType}}</td>
                                    <td>{{p.targetState}}</td>
                                    <td>{{p.stateMachineName}}</td>
                                    <td>
                                        <select ng-model="item" ng-change="GetData(item.id)"
                                                ng-disabled="p.id !== selected"
                                                ng-options="blisterPackTemplate as blisterPackTemplate.name for blisterPackTemplate in scrumTeamList">
                                            <option value="">Select Scrum Team</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-xs"
                                                style="background-color: #337ab7; color: white"
                                                ng-click="assignProduct(item.id, p.id); refreshProduct()"
                                                ng-disabled="p.id !== selected">Assegna Prodotto
                                        </button>
                                    </td>
                                </tr>

                            </div>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="panel panel-primary" ng-show="value">
                <div class="panel-heading">Informazioni Scrum Team selezionato</div>
                <div class="panel-body">

                    <div class="form-group">
                        <label>Effort: </label>
                    </div>

                    <div class="table">
                        <table id="datatable4" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="col-md-0.5">ID</th>
                                <th class="col-md-3">Ruolo</th>
                                <th class="col-md-3">Username</th>
                                <th class="col-md-3">Firstname</th>
                                <th class="col-md-3">Surname</th>
                                <th class="col-md-4">E-Mail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{productOwner.id}}</td>
                                <th>Product Owner</th>
                                <td>{{productOwner.username}}</td>
                                <td>{{productOwner.firstName}}</td>
                                <td>{{productOwner.lastName}}</td>
                                <td>{{productOwner.email}}</td>
                            </tr>
                            <tr>
                                <td>{{scrumMaster.id}}</td>
                                <th>Scrum Master</th>
                                <td>{{scrumMaster.username}}</td>
                                <td>{{scrumMaster.firstName}}</td>
                                <td>{{scrumMaster.lastName}}</td>
                                <td>{{scrumMaster.email}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--  <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Product Owner</label>
                                <input name="username" class="form-control" placeholder=""
                                       ng-disabled="true" ng-model="productOwner.username" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Scrum Master</label>
                                <input name="username" class="form-control" placeholder=""
                                       ng-disabled="true" ng-model="scrumMaster.username" required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Effort</label>
                                <input name="effort" class="form-control" placeholder="effort"
                                       ng-disabled="true" ng-model="effort" required>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="row">

            <div class="panel panel-primary" ng-show="value">
                <div class="panel-heading">Membri Scrum Team selezionato</div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table id="datatable3" datatable="ng" class="table table-striped table-bordered"
                               dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th class="col-md-0.5">ID</th>
                                <th class="col-md-2">Ruolo</th>
                                <th class="col-md-3">Username</th>
                                <th class="col-md-2">Firstname</th>
                                <th class="col-md-2">Surname</th>
                                <th class="col-md-3">E-Mail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="m in members">
                                <td>{{m.id}}</td>
                                <th>Team Member</th>
                                <td>{{m.username}}</td>
                                <td>{{m.firstName}}</td>
                                <td>{{m.lastName}}</td>
                                <td>{{m.email}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>