<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gestione Prodotti Scrum</h1>
        </div>
    </div>

    <!-- Tabella assegnamenti esistenti -->
    <div class="col-lg-12">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Elenco assegnamenti esistenti</div>
                <div class="panel-body">
                    <div ng-controller="ProductSoftwareListCtrl"></div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered"
                               dt-options="dtOptions"
                               dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th class="col-md-1">Prodotto</th>
                                <th class="col-md-1">Scrum Team</th>
                                <th class="col-md-1">Workflow</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="assignment in assignments">
                                <td>{{assignment.product}}</td>
                                <td>{{assignment.scrumTeam}}</td>
                                <td>{{assignment.scrumProductWorkflow}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabella nuovo assegnamento -->
    <div class="col-lg-12">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">Inserisci nuovo assegnamento</div>
                <div class="panel-body">
                    <div ng-if="ctrl.notAssignedproducts.length === 0"> Non ci sono prodotti da assegnare</div>
                    <div class="table-responsive" ng-if="ctrl.notAssignedproducts.length !== 0">
                        <table id="datatable"
                               datatable="ng"
                               class="table table-striped table-bordered"
                               dt-options="dtOptions"
                               dt-column-defs="dtColumnDefs">
                            <thead>
                            <tr>
                                <th class="col-md-1"></th>
                                <th class="col-md-1">ID</th>
                                <th class="col-md-1">Nome</th>
                                <th class="col-md-2">Descrizione</th>
                                <th class="col-md-1">Versione</th>
                                <th class="col-md-1">Seleziona Scrum Team</th>
                                <th class="col-md-2">Seleziona Workflow per il prodotto Scrum</th>
                                <th class="col-md-1"></th>
                            </tr>
                            </thead>
                            <tbody>

                            <div class="radio">

                                <tr ng-repeat="p in notAssignedproducts">

                                    <td><input ng-model="result" type="radio" name="rdoResult" value=""
                                               ng-click="setProduct(p)"></td>
                                    <td>{{p.id}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.description}}</td>
                                    <td>{{p.version}}</td>
                                    <td>
                                        <select class="form-control"
                                                ng-model="scrumTeam"
                                                ng-change="setScrumTeam(scrumTeam)"
                                                ng-disabled="!association.product.id > 0"
                                                ng-options="scrumTeam.name for scrumTeam in scrumTeams">
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control"
                                                ng-model="workflow"
                                                ng-change="setWorkflow(workflow)"
                                                ng-disabled="!association.product.id > 0"
                                                ng-options="workflow.name for workflow in scrumProductWorkflows">
                                        </select>
                                    </td>
                                    <td align="center"
                                        style="vertical-align:middle">
                                        <button type="button"
                                                class="btn btn-primary"
                                                ng-click="assignProduct( p.id); refreshProduct()"
                                                ng-disabled="!association.product.id > 0 ||
                                                             !association.scrumTeam.id > 0 ||
                                                             !association.workflow.id > 0">
                                            Assegna
                                        </button>
                                    </td>
                                </tr>

                            </div>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabella informativa sullo Scrum Team selezionato -->
        <div class="row">
            <div class="panel panel-primary" ng-show="association.scrumTeam.id > 0">
                <div class="panel-heading">Informazioni Scrum Team selezionato</div>
                <div class="panel-body">
                    <div class="table">
                        <table id="datatable4" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="col-md-0.5">ID</th>
                                <th class="col-md-3">Ruolo</th>
                                <th class="col-md-3">Username</th>
                                <th class="col-md-3">Firstname</th>
                                <th class="col-md-3">Surname</th>
                                <th class="col-md-4">E-Mail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{association.scrumTeam.productOwner.id}}</td>
                                <th>Product Owner</th>
                                <td>{{association.scrumTeam.productOwner.username}}</td>
                                <td>{{association.scrumTeam.productOwner.firstName}}</td>
                                <td>{{association.scrumTeam.productOwner.lastName}}</td>
                                <td>{{association.scrumTeam.productOwner.email}}</td>
                            </tr>
                            <tr>
                                <td>{{association.scrumTeam.scrumMaster.id}}</td>
                                <th>Scrum Master</th>
                                <td>{{association.scrumTeam.scrumMaster.username}}</td>
                                <td>{{association.scrumTeam.scrumMaster.firstName}}</td>
                                <td>{{association.scrumTeam.scrumMaster.lastName}}</td>
                                <td>{{association.scrumTeam.scrumMaster.email}}</td>
                            </tr>
                            <tr ng-repeat="m in association.scrumTeam.teamMembers">
                                <td>{{m.id}}</td>
                                <th>Team Member</th>
                                <td>{{m.username}}</td>
                                <td>{{m.firstName}}</td>
                                <td>{{m.lastName}}</td>
                                <td>{{m.email}}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>