<md-dialog aria-label="Creazione Scrum Ceremony" style="overflow-x: hidden">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: #457AB2">
            <h2>Creazione Scrum Ceremony</h2>
        </div>
    </md-toolbar>
    <div class="container">
        <form name="scrumCeremonyCreationForm">
            <br>
            <div class="form-group">
                <label>Tipo *
                    <select class="form-control"
                            ng-init="scrumCeremonyType = scrumCeremonyTypes[0]"
                            ng-options="scrumCeremonyType.value for scrumCeremonyType in scrumCeremonyTypes"
                            ng-model="scrumCeremonyType" ng-required="true">
                    </select>
                </label>
            </div>
            <br>
            <div class="form-group">
                <label>Data *
                    <md-datepicker ng-model="scrumCeremonyDate" md-current-view="month" md-placeholder="Enter date" ng-required="true"></md-datepicker>
                </label>
            </div>
            <br>
            <div class="form-group">
                <label>Durata (ore) *</label>
                <input name=scrumCeremonyDuration type="number" ng-model="scrumCeremonyDuration" ng-required="true" min="1">
            </div>
            <br>
            <label>Partecipanti</label>
            <br>
            <div class="table-responsive" style="width:90%">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="col-md-5">Nome</th>
                        <th class="col-md-5">Cognome</th>
                        <th class="col-md-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in sprintParticipants">
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td align="center">
                            <button class="btn btn-primary"
                                    ng-click="addParticipant(user)"
                                    ng-if="!participants.includes(user)" style="width: 100%">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-primary"
                                    ng-click="removeParticipant(user)"
                                    ng-if="participants.includes(user)" style="width: 100%">
                                <i class="fa fa-minus"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <label>Attività svolte</label>
            <br>
            <div class="table-responsive" style="width:90%">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="col-md-5">Attività</th>
                        <th class="col-md-5">Commento</th>
                        <th class="col-md-2"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat= "activity  in ceremonyActivities">
                        <td>{{activity.name}}</td>
                        <td>{{activity.comment}}</td>
                        <td align="center" style="vertical-align:middle">
                            <button ng-click="deleteActivity(activity)"
                                    class="btn btn-primary" style="width: 100%">
                                <i class="fa fa-minus"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control"
                                   placeholder="Inserisci il nome dell'attività"
                                   name="scrumCeremonyNewActivityName"
                                   type="text"
                                   ng-model="newActivity.name"/>
                        </td>
                        <td style="vertical-align: middle;">
                            <input class="form-control"
                                   placeholder="Inserisci un commento dell'attività"
                                   name="scrumCeremonyNewActivityComment"
                                   type="text"
                                   ng-model="newActivity.comment"/>
                        </td>
                        <td align="center" style="vertical-align:middle">
                            <button
                                    ng-click="insertNewActivity()"
                                    class="btn btn-primary" style="width: 100%">
                                <i class="fa fa-plus"></i>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger"
                        ng-click="closeDialog()">
                    Annulla
                </button>
                <button type="button"
                        class="btn btn-primary"
                        ng-click="insertScrumCeremony()" ng-disabled="scrumCeremonyCreationForm.$invalid || participants.length === 0">
                    Conferma
                </button>
            </div>
        </form>
    </div>
</md-dialog>
