<div>
    <div class="row">
        <div class="col-lg- 2">
            <h  class="page-header">Crea lo Sprint  </h >
        </div>
    </div>
    <div class="row">
        <div class="col-lg- 2">
            <div class="panel panel-primary">
                <div class="panel-heading">Crea lo Sprint  </div>
                <div class="panel-body">
                    <form name="formCreateSprint">
                        <div class="row">
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg- 2">
                                <div class="row">
                                        <div class="panel-body">
                                            <div class="form-group"
                                                 ng-class="{'has-error': formCreateSprint.sprintGoal.$invalid && formCreateSprint.sprintGoal.$touched}">
                                                <label>SprintGoal</label>
                                                <textarea name="sprintGoal" class="form-control" rows="8"
                                                          ng-model="ctrl.currentSprint.sprintGoal" required></textarea>
                                            </div>

                                            <!-- /.table-responsive -->
                                        </div>
                                        <!-- /.panel-body -->

                                    <!-- /.panel -->
                                </div>

                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Durata (Settimane)</label>
                                    <select class="form-control"
                                            ng-options="p for p in ctrl.durationsAvaibles"
                                            ng-model="ctrl.duration"
                                            ng-required="true">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg- 2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"
                                            ng-disabled="(formCreateSprint.$invalid || formCreateSprint.$pending)"
                                            ng-click="ctrl.insertSprint()">
                                        Avvia Sprint  
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg- 2 -->
    </div>

</div>